body, html {
    border: 3px solid rgba(3,56,119,255);
    margin: 0px !important;
    font-family: sans-serif;
    font-size: medium;
    /*overflow: auto; /* Adds scrollbars if necessary */
    height: auto; /* Adjusts height based on content */
    min-height: 100px; /* Ensures body height grows with content */
}

button {
    background: rgba(3, 56, 119, 255);
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
