/* styles.css */
.sample-table {
    width: 100%;
    border-collapse: collapse;
    overflow-x:scroll;
}

    .sample-table th, .sample-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .sample-table th {
        background-color: #f2f2f2;
    }

    .sample-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .sample-table tbody tr:hover {
        background-color: #e9e9e9;
    }

.page1tab1-bottom p{
    display:contents;
}

.page1tab1-bottom {
    margin: auto;
    display: ruby-text;
}

.page1tab1-findby {
    margin-top: 40px;
    display:flex;
}

    .page1tab1-findby button {
        margin-left: 10px;
    }


.page1tab1-upper input {
    width: min-content;
}

.page1tab1-upper{
    padding:10px;
}

.items-container{
    display:flex;
    gap:20px;
}

.items-container .item{
    display:ruby
}

.add-item-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
}