ul {
    list-style-type:none;
    display:contents;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(3,56,119,255);
    width: -webkit-fill-available;
}

.active {
    font-weight: bold;
    background: rgb(9,20,44);
}

a {
    display: inline;
    padding: 10px;
    color: white;
    text-decoration:none;
}